let mapleader=" "

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set textobj-entire
set ReplaceWithRegister
set exchange

set incsearch
set ignorecase
set smartcase
set clipboard+=unnamed
set ideajoin
set ideaput
set relativenumber
set number
set surround
set highlightedyank
set idearefactormode=keep
set ideajoin
set showmode
set NERDTree

" Trying the new syntax
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-surround'		    " ys, cs, ds, S

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

" <C-n> seems to me as a better solution than <M-n>,
" but we should finally support vim-visual-multi because vim-multiple-cursors is deprecated now
map <C-n> <Plug>NextWholeOccurrence

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set ralativenumber

""" My Mappings -----------------------------

nmap <leader>w :action SaveDocument <CR>
nmap <leader>q :action CloseEditor <CR>


nnoremap L $
nnoremap H ^
vnoremap L $
vnoremap H ^

noremap <SPACE> <Nop>
" nnoremap <SPACE> :

imap jk <ESC>
imap kj <ESC>

nmap zj o<ESC>k
nmap zk O<ESC>j


" I think it's a better solution
map U <C-R>
nmap <leader>t <Action>(ActivateTerminalToolWindow)

" formatting
nnoremap == :action ReformatCode <CR>
vnoremap == :action ReformatCode <CR>
nnoremap -- :action OptimizeImports <CR>
vnoremap -- :action OptimizeImports <CR>

nnoremap <leader>/ :action CommentByLineComment <CR>
vnoremap cc :action CommentByLineComment <CR>